<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/signin.css" type="text/css" />

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form validate-form">
                            <div class="logo">
                                <img style= "width:150px;height:100px;"src="../../css/images/sample_company.jpg" alt="QuickHCM360 HR Application">
                            </div>
                    <div class="login-form">
                        <div class="input">
                          <oj-validation-group id="tracker" valid="{{groupValid}}">
                            <oj-input-text class="signin-input" required id='OnePlaceUsername' placeholder='User Name' spellcheck='false' aria-label='User Name' value='{{OnePlaceuserName}}' required='true'></oj-input-text>
                        </div>
                        <div class="input">
                            <oj-input-password  mask-icon="visible" required id='OnePlacePassword' placeholder='Password' aria-label='password' value='{{OnePlacepassWord}}' required='true'></oj-input-password>
                        </div>
                      </oj-validation-group>
                        <div class="submit-btn">
                          <oj-button id='signInBtn' class='demo-signin-button' chroming='solid'
                          on-oj-action='[[signIn]]'><span class="demo-signin-button-label"><span class='oj-hybrid-padding-horizontal'>Sign In</span></span></oj-button>          </div>
                          <oj-dialog id="LoginErrDialog" dialog-title="Login Error" style="display:none;width:500px;min-width:500px;max-width:500px;">
                            <div slot="body">
                                <oj-bind-for-each data="[[LoginErr]]">
                                    <template data-oj-as="LoginMsg">
                                        <br>
                                        <oj-bind-text value='[[LoginMsg.data]]'></oj-bind-text>
                                    </template>
                                </oj-bind-for-each>
                            </div>
                            <div slot="footer">
                                <oj-button id="okdelButton" on-oj-action="[[LoginMsgOKClose]]">
                                    OK
                                </oj-button>
                            </div>
                        </oj-dialog>
                    </div>
                    <div class="footer">
                        QuickHCM360
                    </div>
            </div>
        
			</div>
		</div>
	</div>
	

    
<oj-dialog id="signInProgress" title="Authenticating...." modality="modeless"
style="display:none;width:350px;min-width:240px;max-width:450px;">
<div slot="body">
<oj-progress-bar class="oj-progress-bar-embedded" id="createbar" value="-1" >
</oj-progress-bar>
</div>
</oj-dialog>

<oj-dialog id="TimeoutSign" dialog-title="There is a technical issue. Please try again later" modality="modeless"
style="display:none;width:350px;min-width:240px;max-width:450px;" cancel-behavior="[[CancelBehaviorOpt]]">
    <div slot="body">
        
    </div>
</oj-dialog>
