.login-body{
  background-color:#d0d0d0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-div{
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  width: 350px;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.submit-btn{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.input{
  margin-top: 20px;
}