<link rel="stylesheet" href="../../css/addStaff.css">
<div class="oj-panel oj-xl-margin-4x oj-sm-justify-content-space-between oj-sm-align-items-center" style="width: 100%;padding: 10px;">
    <div><span class="hint-title"> <span class="icon-container"><i class="fas fa-user icon"></i></span>&nbsp;Add New Employee </span><span class="hint-note">(This is where you can enter the details of your new team members.)</span></div> 
</div> 
<div class="oj-flex oj-sm-justify-content-space-around oj-sm-align-items-center oj-xl-margin-4x">
    <oj-validation-group id="formValidation" class="form-container" role="group">
        <div id="form-container" class="oj-panel">
            <oj-form-layout id="personal-information" class="form" direction="row" max-columns="2">
                <oj-input-text id="firstname" label-hint="First Name" required="true" value="{{firstName}}"></oj-input-text>
                <oj-input-text id="lastname" label-hint="Last Name" required="true" value="{{lastName}}"></oj-input-text>
                <div class="oj-flex">
                    <div class="oj-flex-item oj-sm-5 oj-sm-padding-2x-end oj-md-padding-3x-end">
                        <oj-select-single required id="nearestOffice" label-hint="Country Code" label-edge="inside"
                            data="[[countryCodes]]" value="{{countryCode}}"></oj-select-single>
                    </div>
                    <div class="oj-flex-item oj-sm-7 oj-sm-padding-2x-start oj-md-padding-3x-start">
                        <oj-input-text id="phone" label-hint="Phone" required="true" value="{{phone}}" length.max="10" on-value-changed="[[phoneValidator]]"></oj-input-text>
                    </div>
                    <div class="oj-text-color-danger"><oj-bind-text value='[[phoneError]]'></oj-bind-text></div></br>
                </div>
                <div>
                    <oj-input-text id="email" label-hint="Email" required="true" value="{{email}}" on-value-changed="[[emailPatternValidator]]"></oj-input-text>
                    <div class="oj-text-color-danger"><oj-bind-text value='[[emailError]]'></oj-bind-text></div></br>
                </div>
                <oj-input-text id="qualification" label-hint="Qualification" required="true" autocomplete="off" value="{{qualification}}"></oj-input-text>
                <oj-input-date id="joining_date" label-hint="Joining Date" value="{{joining_date}}"></oj-input-date>
                <oj-select-single id="department" label-hint="Department" label-edge="inside" required="true" class="oj-form-control-max-width-md" 
                 value="{{department}}"  data="[[departmentList]]"></oj-select-single>
                  <oj-select-single id="designation" label-hint="Designation" label-edge="inside" required="true" class="oj-form-control-max-width-md" 
                 value="{{designation}}"  data="[[designationList]]"></oj-select-single>
                 <oj-text-area id="address" value="{{address}}" label-hint="Address" raw-valuenewE=""
                 rows="3" clear-icon="always" required="true">
                 </oj-text-area> 
                 <div>          
                 <oj-file-picker  id="profilePhoto" class="demo-max-width" primary-text="Profile Photo"
                secondary-text="[[secondaryText]]" on-oj-select="[[uploadProfilePhoto]]">
                </oj-file-picker>
                <div class="oj-text-color-danger"><oj-bind-text value='[[typeError]]'></oj-bind-text></div></br>
            </div>  
            </oj-form-layout>
            <oj-button id="save" chroming="solid" on-oj-action="[[formSubmit]]"><i class="fas fa-save"></i> Submit</oj-button>
        </div>
    </oj-validation-group>

    <oj-popup id="popup1" class="demo-popup" auto-dismiss="none" modality="modal" position.my.horizontal="center"
        position.my.vertical="center" position.at.horizontal="center" position.at.vertical="center" position.of="window" tail="none">
        <div class="demo-popup-body">
            <div class="demo-popup-content oj-sm-padding-2x">
                <oj-progress-circle id="progressCircle" value="-1"></oj-progress-circle>
            </div>
        </div>
    </oj-popup>
    
    <oj-dialog id="popup2">
        <div slot="header" style="display: contents;">
            <p id="dialogTitleId" class="oj-dialog-title">Successfully Added</p>
            <oj-button id="btnCancel" class="oj-button-sm" display="icons" on-oj-action="[[messageClose]]">
                <span slot="startIcon" class="oj-ux-ico-close"></span>
                Cancel
            </oj-button>
        </div>
        <div slot="body">
            <div class="demo-popup-content oj-sm-padding-2x oj-flex oj-sm-flex-direction-column oj-sm-justify-content-center">
                <p style="font-weight: 500;text-align: left">Employee added successfully</p>
            </div>
        </div>
    </oj-dialog>
</div>