
 <div class="oj-hybrid-padding">
    <h1 class="oj-typography-heading-xs">Staff ID: 78</h1>
    <oj-form-layout id="personal-information" direction="row" max-columns="2">
      <oj-input-text
        id="firstname"
        label-hint="Name"
        required="true"
        readonly=""
        value=""></oj-input-text>
      <oj-input-text
        id="phone"
        label-hint="Phone"
        required="true"
        readonly=""
        value=""></oj-input-text>
      <oj-input-text
        id="email"
        label-hint="Email"
        autocomplete="off"
        readonly=""
        value=""></oj-input-text>
      <oj-form-layout direction="row" columns="2">
        <oj-input-text
        id="Designation"
        label-hint="Designation"
        readonly=""
        value=""></oj-input-text>
      </oj-form-layout>
      <oj-input-text
        id="Qualification"
        label-hint="Qualification"
        readonly=""
        value=""></oj-input-text>
      <oj-input-text
        id="Employee ID"
        label-hint="Employee ID"
        readonly=""
        value=""></oj-input-text>
    </oj-form-layout>
    <oj-button id="button1">Upload File</oj-button>
    <div
      class="oj-flex oj-sm-flex-items-initial oj-sm-justify-content-center">
      <oj-button id="size_button1" class="oj-button-sm">Update</oj-button>
    </div>
  </div>